{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1>Sobre mim</h1>

<img src="{% static 'core/img/sua_foto.png' %}" alt="Foto de perfil" style="width: 150px; border-radius: 50%; margin-bottom: 1rem;">

<p>Sou analista de dados com experiência prática em coleta, transformação, tratamento, análise e visualização de dados.</p>

<p>Tenho vivência no desenvolvimento de aplicações web com coleta automatizada de dados via web scraping, uso de bancos de dados SQL e construção de pipelines de dados. Também concluí o curso <strong>Google Data Analytics Certificate</strong>, onde desenvolvi habilidades para fornecer insights baseados em dados e apoiar a tomada de decisões estratégicas.</p>

<h2>Tecnologias que possuo experiência:</h2>
<ul>
    {% for tech in tecnologias %}
        <li>{{ tech }}</li>
    {% endfor %}
</ul>
<h2>Links:</h2>
<ul>
    {% for nome, url in links.items %}
        <li><a href="{{ url }}" target="_blank">{{ nome }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
